@import './variables';

.about-main {
  height: 100vh;
  background-color: $color-primary;
  margin-top: 15vh;
  padding-top: 10vh;
  .title-about {
    & > :nth-child(1) {
      margin: 0;
      padding: 0 0 0 200px;
    }
  }
  .text-about {
    & > :nth-child(1),:nth-child(2), :nth-child(3) {
      width: 500px;
    }
    & > :nth-child(1) {
      position: relative;
      left: 400px;
    }
    & > :nth-child(2){
      position: relative;
      left: 800px;
    }
    & > :nth-child(3){
      position: relative;
      left: 900px;
    }
  }
}

