@import './variables';

.contact-section {
  height: 100vh;
  background-color: $color-primary;
  .main-title-contact {
    padding: 20vh 0 0 10vw;
  }
  .contact-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    .main-resume {
      padding: 0 0 0 10vw;
      cursor: pointer;
    }
    .main-contact {
      & > :nth-child(1) {
        cursor: pointer;
      }
      .socials-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 5vh;
      }
    }
    @keyframes borderSlide {
      from { transform: scaleX(0); }
      to   { transform: scaleX(1); }
    }
  }
  .main-footer {
    display: flex;
    justify-content: center;

    & > :first-child {
      position: absolute;
      bottom: 0;
    }

    & > :last-child {
      position: absolute;
      bottom: 1vh;
      right: 2vw;
    }
  }
}
