@import './variables';

.main-nav {
  z-index: 1;
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  .website-logo {
    display: flex;
    flex-direction: column;
    gap: 0;
    cursor: pointer;
    line-height: 0.7;
  }
  .website-nav {
    width: 30%;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        cursor: pointer;
      }
    }

  }
  .website-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $color-primary;
    cursor: pointer;
    img {
      padding-left: 5px;
      height: 20px;
      width: 20px;
    }
  }
}
