@import "./variables";

.works-main {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title-works {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20vw;
    img {
      height: 150px;
      width: 150px;
      filter: brightness(0) saturate(100%) invert(8%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(92%) contrast(92%);
    }
  }

  .works-slider {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    .first-work, .second-work, .third-work {
      padding: 0 1vw;
      position: absolute;
      height: 80vh;
      width: 100vw;
      background-color: $color-primary;
      color: $color-secondary;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    .first-work {
      bottom: -171vh;
      background-color: $color-primary;
      color: $color-secondary;
    }

    .second-work {
      bottom: -174vh;
      background-color: $color-secondary;
      color: $color-primary;
    }

    .third-work {
      bottom: -177vh;
      background-color: $color-primary;
      color: $color-secondary;
    }
  }
}
